.degree-card {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.card-title {
  font-family: "Google Sans Medium", serif;
  font-size: 23px;
}

.card-subtitle {
  font-family: "Google Sans Medium", serif;
  font-size: 18px;
  margin-top: 7px;
  margin-bottom: 5px;
}

.card-img {
  width: 200px;
  height: auto;
  border-radius: 50%;
  padding: 10px;
  border: 1px solid #d9dbdf;
  box-shadow: 5px 5px 5px #d9dbdf;
}

.body-header {
  max-width: inherit;
  display: flex;
  border-radius: 7px 7px 0 0;
  padding: 10px;
}

.body-header-title {
  align-items: flex-start;
  width: 80%;
}

.body-header-duration {
  width: 20%;
}
.duration {
  font-family: "Google Sans Regular", serif;
  font-size: 16px;
  padding-right: 10px;
  float: right;
}

.body-content {
  max-width: inherit;
  /* width: 100%; */
  border-radius: 0 0 7px 7px;
  padding: 5px;
  justify-content: center;
  align-items: center;
}

.content-list {
  padding-left: 10px;
  padding-right: 10px;
  font-family: "Google Sans Regular", serif;
}

.card-body {
  border-bottom: 1px solid #d9dbdf;
  border-left: 1px solid #d9dbdf;
  border-right: 1px solid #d9dbdf;
  border-radius: 7px;
  width: 90%;
  margin: 10px;
  box-shadow: 5px 5px 5px #d9dbdf;
}

.visit-btn {
  display: inline-block;
  margin: 0 10px 10px 0;
  padding: 10px;
  border-radius: 7px;
  border: 0;
  float: right;
}

.visit-btn:hover {
}

.btn {
  margin: 0;
  padding: 0;
  font-family: "Google Sans Regular", serif;
}

@media (max-width: 1380px) {
}

@media (max-width: 768px) {
  .degree-card {
    flex-direction: column;
  }

  .body-header {
    flex-direction: column;
  }

  .body-header-title {
    width: 100%;
  }

  .body-header-duration {
    padding: 0;
    margin: 0;
    width: 100%;
  }

  .duration {
    padding: 0;
    margin: 0;
    float: left;
  }

  .card-img {
    width: 200px;
  }

  .card-body {
    width: 100%;
  }

  .card-title {
    font-size: 20px;
  }

  .card-subtitle {
    font-size: 16px;
  }
}
