.os-charts-header {
  font-size: 40px;
  line-height: 1.1;
  font-family: "Google Sans Regular", serif;
  text-align: center;
  margin-left: 10px;
  margin-right: 10px;
}

.os-charts-body-div {
  text-align: center;
  display: flex;
  flex-direction: row;
  width: 100%;
}

@media (max-width: 1380px) {
  .os-charts-header {
    font-size: 35px;
  }
}

@media (max-width: 768px) {
  .os-charts-header {
    font-size: 25px;
  }

  .os-charts-body-div {
    flex-direction: column;
  }
}
